/* General Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}
:root {
  /* Fonts */
  font-family: "Raleway", sans-serif;

  /* Colors */
  --bg: #040714;
  --primary_color: #e9e9e9;
  --secondary_color: #fdb827;
  --light_gray: #b1b1b1;

  /* Spacing */
  --min_margin: 1rem;
  --min_padding: 1rem;
}

/* Font Settings */
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  size: 1.6rem;
}
.light-font {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  size: 1.2rem;
  color: var(--light_gray);
}

/* End Font Settings */

/* Components */
.container {
  padding: var(--min_padding);
  margin-bottom: var(--min_margin);
}
.wrapper {
  margin: 0.5rem 0 2rem;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.card {
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  /* color: var(--bg); */
  color: var(--primary_color);
}
.card:not(:last-child) {
  margin-right: 1rem;
}

/* Buttons */
.btn {
  width: auto;
  padding: calc(var(--min_padding) / 2) calc(var(--min_padding) * 2);
  text-align: center;
  outline: none;
  border: none;
  color: var(--bg);
  font-weight: 300;
  cursor: pointer;
}
.btn-confirm {
  background-color: var(--secondary_color);
}
.btn-cancel {
  background-color: #646363;
}

/* End Components */
/* End General Settings */

/* Content */
body {
  background-color: var(--bg);
  color: var(--primary_color);
  font-size: 1.2rem;
}

/* Header */
header {
  padding: var(--min_padding);
  height: auto;
}
header .logo {
  min-width: 100px;
  width: 35%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
menu a {
  text-decoration: none;
  color: var(--light_gray);
}
menu a:not(:last-child) {
  margin-right: 1rem;
}
/* End Header */

/* Hero */
.hero {
  width: 100%;
  height: auto;
  margin: var(--min_margin) 0;
  padding: 2rem 5rem;
  background-color: var(--secondary_color);
  color: var(--bg);
  font-size: 3.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero small {
  color: white;
  font-size: 1.2rem;
}
/* End Hero */

/* Form Group*/
form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.form-group {
  width: 70%;
}
#inputValue {
  width: 100%;
  height: auto;
  padding: calc(var(--min_padding) / 2) calc(var(--min_padding) * 2);
  font-size: 1rem;
  font-weight: 400;
  color: var(var(--light_gray));
  outline: none;
  caret-color: var(--secondary_color);
}
/* End Form Group */

/* Searchable Results */
#movies-searchable {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.movie {
  margin-bottom: 5rem;
}
.section {
  display: flex;
  width: 100%;
  overflow: auto;
  margin-bottom: calc(var(--min_margin) * 2);
}
.section img {
  width: 100px;
  height: 150px;
}
.section img:not(:last-child) {
  margin-right: calc(var(--min_margin) * 2);
}
img {
  transition: 400ms;
}
img:hover {
  margin-left: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
.content {
  /* border: 0.1px solid var(--light_gray); */
  /* opacity: 0.2; */
  display: none;
  margin-bottom: 2rem;
}
.content-display {
  display: block;
}
.content div {
  display: flex;
  width: 100%;
  overflow: auto;
}
#content-close {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary_color);
  cursor: pointer;
}
iframe:not(:last-child) {
  margin-right: var(--min_margin);
}
/* End Searchable Results */

/* Footer */
footer {
  padding: var(--min_padding);
  background-color: white;
  color: var(--bg);
  width: 100%;
  height: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div {
  margin-bottom: var(--min_margin);
}
footer .legal {
  text-align: center;
}
footer .copyright {
  margin-top: var(--min_margin);
  font-weight: 700;
  color: var(--secondary_color);
}
.fab {
  cursor: pointer;
}
/* End Footer */
