/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .legal {
  order: 1;
  text-align: left;
}
.social_media {
  order: 3;
}
.copyright {
  order: 2;
}
/* End Footer */
